<table matSort  (matSortChange)="sortData($event)">
<tr  >
  <th  mat-sort-header="name" >Nom</th>
  <th mat-sort-header="active">Etat</th>
  <th mat-sort-header="type">Type</th>
  <th mat-sort-header="actions">Actions</th>
  <!-- <th mat-sort-header="carbs">Carbs (g)</th>
  <th mat-sort-header="protein">Protein (g)</th> -->
</tr>

<tr class="border" *ngFor="let analyse of sortedData">
  <td>{{analyse.name}}</td>
  <td><span *ngIf="analyse.active==true; else untrue">
    <mat-chip-list>
      <mat-chip class="activechip">Active</mat-chip>
    </mat-chip-list>
  </span>
  <ng-template #untrue>
  <mat-chip-list>
  <mat-chip class="inactivechip"> Inactive</mat-chip>
</mat-chip-list>
  </ng-template>
  </td>
  <td>{{analyse.type}}</td>
  <td><button mat-mini-fab color="primary" >
  <mat-icon>edit
  </mat-icon>
</button></td>
  <!-- <td>{{dessert.carbs}}</td>
  <td>{{dessert.protein}}</td> -->
</tr>
</table>
<br>


<form  (ngSubmit)="onSubmit()">  
<mat-card class="fo">
  
<mat-form-field class="title_input" appearance="fill">
<mat-label>Nom de l'analyse</mat-label>
    <input matInput  >
</mat-form-field>

<mat-form-field appearance="fill">
<mat-label>Valide le</mat-label>
<input matInput [matDatepicker]="on">
<mat-hint>JJ/MM/AAAA</mat-hint>
<mat-datepicker-toggle matSuffix [for]="on"></mat-datepicker-toggle>
<mat-datepicker #on></mat-datepicker>
</mat-form-field>


<div class="container">  
   
  


  
  <table class="" formArrayName="quantities">  
    <tr>  
      <th colspan="2">Champs du formulaire :</th>  
      <th><button mat-button mat-mini-fab color="primary" type="button" (click)="addQuantity()"><mat-icon >add
    </mat-icon></button></th>  
    </tr>  
    <tr *ngFor="let quantity of quantities().controls; let i=index" >  
      <mat-card>
        <tr> Nom du champ :
        <input mat-input type="text" formControlName="qty" class="form-control w-100"> </tr>
        <td>  
          Type :  
          <input mat-input type="text" formControlName="qty" class="form-control">  
      </td>  
      <td>  
          Price:  
          <input mat-input type="text" formControlName="price" class="form-control">  
      </td>  
      <td>  
      Price:  
      <input mat-input type="text" formControlName="price" class="form-control">  
  </td> 
      <td>  
          <button mat-button mat-mini-fab color="warn" type="button" (click)="removeQuantity(i)" class=" btn-danger"><mat-icon >delete
        </mat-icon></button>  
      </td> 
    </mat-card>
    <br> 
    </tr>  
  </table>  
   
    
 
    
<br/>  
 <!-- {{this.productForm.value | json}} -->
</div>



<input
          type="submit"
          mat-input
          value="Créer"
          
        />

</mat-card>

</form>